[submodule "SkyRL-OpenHands"]
	path = SkyRL-OpenHands
	url = https://github.com/NovaSky-AI/SkyRL-OpenHands
[submodule "mindforge_harness"]
	path = Mindforge
	url = https://github.com/PGCodeLLM/mindforge_harness.git
